<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>

        <RollingFile name="memberLog" fileName="logs/member.log" filePattern="logs/member-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
            </PatternLayout>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>

        <RollingFile name="projectLog" fileName="logs/project.log" filePattern="logs/project-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
            </PatternLayout>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>

        <RollingFile name="taskLog" fileName="logs/task.log" filePattern="logs/task-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
            </PatternLayout>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>

        <RollingFile name="authLog" fileName="logs/auth.log" filePattern="logs/auth-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
            </PatternLayout>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>

        <Console name="consoleLog" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.example.forddpr.service.MemberServiceImp">
            <AppenderRef ref="memberLog" level="info"/>
        </Logger>

        <Logger name="com.example.forddpr.service.ProjectServiceImp">
            <AppenderRef ref="projectLog" level="info"/>
        </Logger>

        <Logger name="com.example.forddpr.service.TaskServiceImpl">
            <AppenderRef ref="taskLog" level="info"/>
        </Logger>

        <Logger name="com.example.forddpr.service.UserAccountServiceImp">
            <AppenderRef ref="authLog" level="info"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="consoleLog"/>
        </Root>
    </Loggers>

</Configuration>